* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Color styles */
:root {
    --main-nav-bg: #000000;
    --main-album-bg: #141922;
    --playbar-bg: #282828;
    --white-color: #FFFFFF;
    --grey-color: #7A7D81;
    --lime-hover: #ADFF2F;
}

/* Utility */
body {
    font-family: 'Montserrat', sans-serif;

}

.wrapper {
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
}

.upper {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

img {
    display: block;
}

.col-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* General settings */
#general {
    width: 100%;
    height: calc(100vh - 5.5rem);
}

#playbar {
    width: 100%;
    height: 5.5rem;
    background-color: var(--playbar-bg);
}

#menu {
    width: 15rem;
    overflow-y: hidden;
    background-color: var(--main-nav-bg);
}

#music {
    width: calc(100% - 15rem);
    height: 100%;
    overflow-y: auto;
    background-color: var(--main-album-bg);
}

#fixed-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 15rem);
    height: 7rem;
    background-color: #0000009D;
}

a {
    color: var(--grey-color);
}

h2 {
    color: var(--white-color);
    font-size: 1.5rem;
}

h3 {
    color: var(--white-color);
}

h4 {
    color: var(--grey-color);
}

/* MUSIC CONTAINER */
.music-container {
    margin-top: 7rem;
    margin-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#fixed-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#fixed-bar .btn a {
    background-color: #0000009D;
    color: var(--white-color);
    border: 1px var(--white-color) solid;
    padding: 0.75rem 2.5rem;
    border-radius: 1.5625rem;
    margin-right: 1.5rem;
}

/* Alternative */
.music-container ul.flex {
    justify-content: center;
}

.music-container ul.flex li {
    margin: 0 1rem;
    padding: 1rem 0;
    font-weight: 700;
    font-size: 0.8rem;
}

/* Recently played */
.recently-played {
    margin-top: 2.5rem;
}

.cards-container {
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.card {
    width: calc(100% / 6 - 1rem);
}

.cover img {
    width: 100%;
}

.artist h3 {
    margin: 1rem 0 0.5rem;
}

/* Create for */
.create-for {
    margin-top: 3.5rem;
}

.create-for h2 {
    margin-bottom: 1rem;
}

.create-for .cards-container {
    margin-top: 2.5rem;
}

/* Popolar */
.popolar {
    margin-top: 3.5rem;
}

.popolar h2 {
    margin-bottom: 1rem;
}

.popolar .cards-container {
    margin-top: 2.5rem;
}

.rounded-cover {
    border-radius: 50%;
    overflow: hidden;
}

.rounded-cover img {
    width: 100%;
}

/* MENU */
.menu-container {
    margin: 1.5rem 0 1rem 1rem;
    max-width: 8.5rem;
    min-height: 29rem;
}

/* Navigate */
.icon-img {
    width: 1.7rem;
    opacity: 0.7;
    margin-right: 0.3rem;
}

h5 {
    color: var(--grey-color);
    align-items: center;
    display: flex;
}

.navigate {
    margin-top: 2rem;
}

.navigate .flex {
    margin-top: 0.5rem;
}

/* Playlist */
.playlist {
    margin-top: 1.5rem;
}

#playlist {
    font-size: 0.9rem;
}

.fa-square-plus {
    color: var(--grey-color);
    font-size: 2.5rem;
    margin-right: 0.3rem;
}

.select-playlist .flex h5 {
    font-size: 0.9rem;
}

.select-playlist {
    margin-top: 0.5rem;
    overflow-y: auto;
}

.playlist-name {
    margin-top: 1rem;
}

.scroll-playlist {
    height: 50%;
    overflow-y: auto;
}

/* Menu container bottom */
.menu-container-bottom {
    margin: 1.5rem 0 1rem 1rem;
}

.install-img {
    width: 1.3rem;
    opacity: 0.7;
    margin-right: 0.5rem;
}

.utente-img {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    overflow: hidden;
    background-color: var(--grey-color);
}

.install-img h5 {
    font-size: 0.7rem;
    align-self: center;
}

#utente p {
    align-self: center;
    font-weight: 700;
    color: var(--white-color);
}

#install {
    width: 90%;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--playbar-bg);
}

/* PLAYBAR */
/* #playbar {
    justify-content: space-between;
    align-items: center;
}

.side-playbar {
    width: 15rem;
    align-items: center;
}

.side-play-img {
    width: 3rem;
    height: 3rem;
}

.side-play-img img {
    width: 100%;
}

#middle-playbar {
    width: 40%;
}

.middle-top {
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
}

.middle-bottom {
    margin-top: 0.7rem;
    justify-content: space-between;
}

.side-play-artist {
    margin-left: 0.7rem;
    margin-right: 2.3rem;
}

.side-play-artist p {
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--grey-color);
}

h6 {
    font-size: 0.83rem;
    color: var(--white-color);
}

.side-icons {
    color: var(--grey-color);
}

.time {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--white-color);
}

.side-icons i {
    margin: 0 0.3rem;
}

#play {
    margin: 0 1rem;
}

#play i {
    font-size: 1.8rem;
    scale: 0.8;
}

.middle-icon {
    margin: 0 0.5rem;
}

.middle-icon i {
    color: var(--grey-color);
    font-size: 1.3rem;
}

#middle-playbar input {
    width: 80%;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 0.5rem;
    background: var(--grey-color);
    border-radius: 5px;
    background-image: linear-gradient(#c9c9c9, #c9c9c9);
    background-size: 20% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var(--white-color);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
} */

/* MEDIA QUERY */
@media screen and (max-width: 992px) {

    /* General settings */
    #general {
        width: 100%;
        height: calc(100vh - 4.75rem);
    }

    #playbar {
        width: 100%;
        height: 4.75rem;
        background-color: var(--playbar-bg);
    }

    #menu {
        width: 10rem;
        height: 100%;
        overflow-y: hidden;
        background-color: var(--main-nav-bg);
    }

    #music {
        width: calc(100% - 10rem);
        height: 100%;
        overflow-y: auto;
        background-color: var(--main-album-bg);
    }

    #fixed-bar {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - 10rem);
        height: 4rem;
        background-color: #0000009D;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 0.7rem;
    }

    h5 {
        font-size: 0.7rem;
    }

    a {
        font-size: 0.7rem;
    }
}

/* MUSIC CONTAINER */
.music-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#fixed-bar .btn a {
    padding: 0.75rem 1.5rem;
}

.music-container ul.flex li {
    padding: 0.5rem 0;
}

.recently-played {
    margin-top: 1rem;
}

.cards-container {
    margin-top: 1.25rem;
    gap: 1rem;
}

.artist h3 {
    margin: 0.5rem 0 0.25rem;
}

.playlist {
    margin-top: 1rem;
}

.create-for {
    margin-top: 1.5rem;
}

.create-for h2 {
    margin-bottom: 0.5rem;
}

.create-for .cards-container {
    margin-top: 1.25rem;
}

.popolar {
    margin-top: 1.5rem;
}

.popolar h2 {
    margin-bottom: 0.5rem;
}

.popolar .cards-container {
    margin-top: 1.25rem;
}

.cover {
    position: relative;
}

/* MENU */
.menu-container {
    margin: 1rem 0 1rem 0.75rem;
}

.logo-image {
    max-width: 7rem;
}

#logo-small {
    display: none;
}

/* Navigate */
.icon-img {
    width: 1.5rem;
    opacity: 0.7;
    margin-right: 0.2rem;
}

.navigate {
    margin-top: 1rem;
}

.navigate .flex {
    cursor: pointer;
}

/* Playlist */
.playlist {
    margin-top: 1.5rem;
}

#playlist {
    font-size: 0.8rem;
}

.fa-square-plus {
    color: var(--grey-color);
    font-size: 2rem;
    margin-right: 0.2rem;
}

.select-playlist .flex h5 {
    font-size: 0.8rem;
}

.select-playlist {
    margin-top: 0.5rem;
    overflow-y: auto;
}

.select-playlist .flex {
    cursor: pointer;
}

.playlist-name {
    margin-top: 1rem;
    cursor: pointer;
}

.playlist-name:first-of-type {
    margin-top: 0.5rem;
}

.scroll-playlist {
    height: 50%;
    overflow-y: auto;
}

#install, #utente {
    cursor: pointer;
}

    /* PLAYBAR */
#playbar {
    justify-content: space-between;
    align-items: center;
    padding-left: 0.75rem;
}

.side-playbar {
    width: 11rem;
    justify-content: space-between;
    align-items: center;
}

.middle-playbar {
    width: 100%;
}

.side-play-img {
    width: 2rem;
    height: 2rem;
}

.side-play-img img {
    width: 100%;
}

.side-icons {
    font-size: 1rem;
    font-weight: 600;
    color: var(--grey-color);
}

.side-icons i {
    margin: 0 0.3rem;
}

.side-play-artist h6 {
    color: var(--white-color);
    font-size: 0.8rem;
}

.side-play-artist p {
    color: var(--grey-color);
    font-size: 0.7rem;
    font-weight: 700;
}

.middle-top {
    justify-content: center;
    align-items: center;
}

.middle-icon {
    color: var(--white-color);
    margin: 0 0.5rem 0.5rem;
    font-size: 1rem;
}

#play {
    font-size: 1.3rem;
    scale: 0.8;
}

.middle-bottom {
    align-items: center;
}

.time {
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--white-color);
}

#range {
    margin: 0 1rem;
}

.middle-bottom input {
    width: 10rem;
}

#range-2 {
    width: 5rem;
}

@media screen and (max-width: 768px) {
    .cards-container {
        flex-flow: row wrap;
    }

    .card {
        width: calc(100% / 4 - 1rem);
    }

    #logo-small {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .alternative ul {
        flex-flow: row wrap;
    }

    .card {
        width: calc(100% / 2 - 1rem);
    }

    .side-playbar {
        width: auto;
    }

    #range-2 {
        display: none;
    }

    #logo-small {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    #menu {
        width: 3rem;
    }

    #music {
        width: calc(100% - 3rem);
    }

    #fixed-bar {
        width: calc(100% - 3rem);
    }

    .card {
        width: calc(100% / 1 - 1rem);
    }

    .side-playbar {
        display: none;
    }

    #playbar {
        justify-content: center;
    }

    #menu .playlist, h5, p {
        display: none;
    }

    #logo-big {
        display: none;
    }
    
    #logo-small {
        display: block;
        width: 100%;
    }

    .logo-image {
        width: 24px;
    }
}

/* PLAYBAR */
/* #playbar {
    padding-left: 0.25rem;
}

.side-playbar {
    width: 10rem;
}

.side-play-img {
    width: 2rem;
    height: 2rem;
}

.side-play-img img {
    width: 100%;
}

#middle-playbar {
    width: 40%;
}

.middle-top {
    margin-bottom: 0.5rem;
}

.middle-bottom {
    margin-top: 0.7rem;
}

.side-play-artist {
    margin-left: 0.7rem;
    margin-right: 2.3rem;
}

.side-play-artist p {
    font-size: 0.5rem;
    font-weight: 700;
}

h6 {
    font-size: 0.7rem;
}

.time {
    font-size: 0.7rem;
}

.side-icons i {
    margin: 0 0.3rem;
}

#play {
    margin: 0 1rem;
}

#play i {
    font-size: 1rem;
    scale: 0.8;
}

.middle-icon {
    margin: 0 0.5rem;
}

.middle-icon i {
    font-size: 1.3rem;
}

#middle-playbar input {
    width: 80%;
} */

/* HOVER */
.alternative .upper::after {
    content: "";
    border-bottom: 1px solid transparent;
}

.alternative .upper:hover {
    border-bottom: 1px solid var(--lime-hover);
}

.card .rounded-cover::after,
.card .cover::after {
    font-family: "Font Awesome 6 Free";
    color: var(--white-color);
    content: "\f144";
    font-size: 2rem;
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
}

.card:hover .rounded-cover::after,
.card:hover .cover::after {
    display: block;
}

.card:hover {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--playbar-bg);
    filter: grayscale(0.8);
    transition: all 0.7s;
    transform: scale(1.2);
}

.card:hover .cover {
    rotate: 360deg;
    transition: all 1s;
}

.popolar .card:hover {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--playbar-bg);
    filter: grayscale(0.8);
    transition: all 0.7s;
    transform: scale(1.2);
}

.select-playlist .flex:hover .playlist-img i,
.select-playlist .flex:hover h5,
.playlist-name:hover h5,
#install:hover h5,
.navigate .flex:hover h5{
    color: var(--white-color);
}


.navigate .flex:hover .icon-img {
    opacity: 1;
}

.btn:hover {
    scale: 1.2;
}

.side-icons i:hover {
    color: var(--white-color);
}

#play:hover {
    scale: 1.3;
}